@using BTPBCommon.Clients;
@using System.Globalization;
@{

    ViewData["Title"] = "Account";
}
<h2>@ViewData["Message"]</h2>
<div class="row">
    <div class="col-sm-3">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">@ViewData["nUsers"]</span>
                Collaborateurs
            </li>
            <li class="list-group-item">
                <span class="badge">@ViewData["nProjects"]</span>
                <a asp-area="" asp-controller="Projects" asp-action="Index">Projets</a>
            </li>
        </ul>
    </div>
</div>


