<h2>@ViewData["Message"]</h2>
<h3>L'equipe</h3>
<ul class="nav nav-tabs">
    <li class="active"><a href="#david" data-toggle="tab" aria-expanded="true">David O'Neill</a></li>
    <li class=""><a href="#ertan" data-toggle="tab" aria-expanded="false">Ertan Ozaydin</a></li>
    <li class=""><a href="#mickael" data-toggle="tab" aria-expanded="false">Mickael Privat</a></li>
    <li class=""><a href="#morgane" data-toggle="tab" aria-expanded="false">Morgane Le-Fur</a></li>
    <li class=""><a href="#raphael" data-toggle="tab" aria-expanded="false">Raphaël de Dumast</a></li>
</ul>
<div id="teamtab" class="tab-content">
    <div class="tab-pane fade active in" id="david">
        <p class="userbio">
            David O'Neill est un physicien/développeur de logiciels devenu datascientist.<br /><br />
            Actuellement étudiant en datascience à HETIC, il
            cherche de nouvelles opportunités pour appliquer ses compétences en
            développement logiciel et en mathématiques afin de résoudre des problèmes urgents
            en développant des applications robustes.<br /><br />
            David est le principal développeur backend et a mis en place les fonctionnalités de la plateforme.
        </p>
    </div>
    <div class="tab-pane fade" id="ertan">
        <p class="userbio">
            Ertan Ozaydin est actuellement étudiant en Marketing Digitale à HETIC, orienté dans l’UX Design
            suite au divers expériences pendant sa vie étudiantes. 
            <br /><br />Ayant 3 ans d'experience de web-dev, 
            il est le principal développeur frontend et responsable de la conception UX dans la plateforme.
        </p>
    </div>
    <div class="tab-pane fade" id="mickael">
        <p class="userbio">
            Mickael Privat est actuellement étudiant en Marketing Digitale UX à HETIC, specialisé en CRM.
            Il possède un bagage segmenté en deux parties : Marking et UX.
            <br /><br />
            Mickael a des compétences en Salesforce, Pardot, Marketo, et d'autres outils variés de marketing automation.
            Différentes fonctionnalités seront utilisées au sein de BTPBuddy tel qu’une intégration CRM,
            la gestion d’email marketing, de lead management, lead nurturing, de social media marketing et ROI reporting.
        </p>
    </div>
    <div class="tab-pane fade" id="morgane">
        <p class="userbio">
            Morgane Le Fur est étudiante en 5 ème année de Marketing UX à HETIC, 
            spécialisé en Marketing et Qualité client. <br/><br/>
            Appétence pour la création de projet adcenter dans une optique durable, 
            ses compétences transversales sont mises en exerce dans la veille de marché, 
            l’innovation et la stratégie.
        </p>
    </div>
    <div class="tab-pane fade" id="raphael">
        <p class="userbio">
            Actuellement étudiant en Marketing Digital à HETIC, Raphaël rejoint la formation après un 
            Master 1 de Droit des Affaires. Sa passion pour l’entrepreunariat et 
            le digital l’a poussé à se reconvertir suite à ses études de droit.
            <br /><br />
            Il est spécialisé en acquisition payante.
        </p>
    </div>
</div>
