<h2>@ViewData["Message"]</h2>
<h3>L'equipe</h3>
<ul class="nav nav-tabs">
    <li class="active"><a href="#david" data-toggle="tab" aria-expanded="true">David O'Neill</a></li>
    <li class=""><a href="#ertan" data-toggle="tab" aria-expanded="false">Ertan Ozaydin</a></li>
    <li class=""><a href="#mickael" data-toggle="tab" aria-expanded="false">Mickael Privat</a></li>
    <li class=""><a href="#morgane" data-toggle="tab" aria-expanded="false">Morgane Le-Fur</a></li>
    <li class=""><a href="#raphael" data-toggle="tab" aria-expanded="false">Raphaël de Dumast</a></li>
</ul>
<div id="teamtab" class="tab-content">
    <div class="tab-pane fade active in" id="david">
        <p class="userbio">
            David O'Neill est un physicien/développeur de logiciels devenu datascientist.<br /><br />
            Actuellement étudiant en datascience à HETIC, il
            cherche de nouvelles opportunités pour appliquer ses compétences en
            développement logiciel et en mathématiques afin de résoudre des problèmes urgents
            en développant des applications robustes.<br /><br />
            Il est un développeur "full stack", mais il s'est concentré sur
            le back-end de la plate-forme, mettant en place les fonctionnalités de base de BTPBuddy.
        </p>
    </div>
    <div class="tab-pane fade" id="ertan">
        <p class="userbio">
            Ertan Ozaydin est actuellement étudiant en Marketing Digitale à HETIC, orienté dans l’UX Design
            suite au divers expériences pendant sa vie étudiantes. 
            <br /><br />Ayant 3 ans d'experience de web-dev, 
            il est le principal développeur front-end et responsable de la conception UX dans la plateforme.
        </p>
    </div>
    <div class="tab-pane fade" id="mickael">
        <p>
        </p>
    </div>
    <div class="tab-pane fade" id="morgane">
        <p>
        </p>
    </div>
    <div class="tab-pane fade" id="raphael">
        <p>
        </p>
    </div>
</div>
