@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    BTPBuddy Corporation<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <div class="contact_mail">
        <strong>Tech Support:</strong> <a href="mailto:doneill612@gmail.com">doneill612@gmail.com</a> & 
        <a href="mailto:ertan.ozaydin@gmail.com">ertan.ozaydin@gmail.com</a>
    </div>
    <div class="contact_mail">    
        <strong>Marketing:</strong> <a href="mailto:btpbuddy@gmail.com">btpbuddy@gmail.com</a>
    </div>
</address>
