@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<form class="form-horizontal">
    <fieldset>
        <legend>@ViewData["Message"]</legend>
        <div class="form-group">
            <label for="lastname" class="col-lg-2 control-label">Nom</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="lastname" placeholder="Nom">
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-lg-2 control-label">Prenom</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="firstname" placeholder="Prenom">
            </div>
        </div>
        <div class="form-group">
            <label for="businessname" class="col-lg-2 control-label">Entreprise</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="businessname" placeholder="Nom de votre entreprise">
            </div>
        </div>
        <div class="form-group">
            <label for="phonenumber" class="col-lg-2 control-label">Téléphone</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="phonenumber" placeholder="Téléphone">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="email" placeholder="Adresse email">
            </div>
        </div>
        <div class="form-group">
            <label for="inquiry" class="col-lg-2 control-label">Infos.</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="inquiry"></textarea>
                <span class="help-block">
                    Veuillez inclure des informations supplémentaires sur votre demande.
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </div>
    </fieldset>
</form>
