@{
    ViewData["Title"] = "Home Page";
}

<div id="landing">
    <div class="home_header">
        <img src="~/images/Btp Buddy.png" alt="logo" id="jumbologo" />
    </div>

    <div class="row" id="jumbointro">
        <p>Votre nouvelle solution de gestion des archives. Facile à utiliser et pilotée par l'IA.</p>
    </div>
    <div class="row" id="jumbobuttongroup">
        <a asp-area="" asp-controller="Home" asp-action="Platform" class="btn btn-primary btn-lg">En savoir plus</a>
    </div>
</div>
