@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/logo blue2.png" alt="logo" id="jumbologo" />
    <div class="row" id="jumbointro">
        <p>Your new, easy-to-use, AI-driven BTP Archive Management Solution.</p>
    </div>
    <div class="row" id="jumbobuttongroup">
        <a asp-area="" asp-controller="Home" asp-action="Platform" class="btn btn-primary btn-lg">Learn more</a>
    </div>
</div>
